body{
    /* background-image: url("/NewPortfolio/Images/whackamole-background.jpg"); */
    background-image: url("/Images/whackamole-background.jpg");
    transform: translate(50);
    
}
 .ScoreB{
    text-align: center;
 }


    .grid {
        width: 606px;
        height: 606px;
        display: flex;
        flex-wrap: wrap;
        margin-left: 600px;
    }
    
    .square {
        height: 200px;
        width: 200px;
        border: solid black 1px;
    }
    
    .mole {
        /* background-image: url("/NewPortfolio/Images/mole.png"); */
        background-image: url("/Images/mole.png");
    }